importFrom(grDevices, rgb)
importFrom(graphics, strheight, strwidth)
importFrom(grid, grid.newpage, grid.layout, pushViewport, viewport)
importFrom(stats, as.formula, model.matrix, predict)
import(ggplot2)
useDynLib(listdtr)
export(krr)
S3method(predict, krr)
export(build.rule)
export(build.rule.cv)
export(apply.rule)
export(verbalize.rule)
export(show.rule)
export(draw.rule)
export(listdtr)
S3method(predict, listdtr)
S3method(print, listdtr)
S3method(plot, listdtr)


